name: Cookbook 3 - Multi-Platform

on:
  push:
    branches: [ main ]
    paths:
      - 'cookbook-3/**'
      - '.github/workflows/cookbook-3.yml'
  pull_request:
    paths:
      - 'cookbook-3/**'
  workflow_dispatch:

env:
  GITHUB_REPOSITORY: ${{ github.repository }}
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push multi-platform images
        working-directory: ./cookbook-3
        run: docker buildx bake --push
