name: Cookbook 1 = Basic Build and Push

on:
  push:
    branches: [ main ]
    paths:
      - 'cookbook-1/**'
      - '.github/workflows/cookbook-1.yml'
  pull_request:
    paths:
      - 'cookbook-1/**'
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  id-token: write

env:
  GITHUB_REPOSITORY: ${{ github.repository }}
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./cookbook-1

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHun Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        working-directory: ./cookbook-1
        run: docker buildx bake --push
